.rick {
  bottom: 15%;
  position: absolute;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 5s;
}
@keyframes run {
  0% {
    left: 0;
  }
  50% { 
    left: calc(100% - 440px); 
   }
  100% {
    left: 0;     
  }
}