.mainNav ul {
    display: flex;
    justify-content: center;
    margin-top: 36px;
    cursor: pointer;
    font-size: 1.4rem;
}

.mainNav ul li {
    margin: 0 25px;
    font-weight: bold;
    list-style: none;
}

.blogItem {
    margin: 1rem 0;
    margin-bottom: 2rem;
}

.myImg {
    display: block;
    margin: 2rem auto;
    /* border-radius: 10px; */
    width: 157px;
    height: 157px;
    border-radius: 50%;
}

.h3 {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 5px;
}

.popularBlogs {
    font-size: 2rem;
    font-weight: bolder;

}

.btn {
    background: gray;
    border-radius: 9px;
    font-size: .97rem;
    margin: 20px 0;
    padding: 7px 9px;
    cursor: pointer;
}

@media screen and (max-width: 450px) {


    .popularBlogs {
        padding: 0px 1rem;
    }

    .blogs {
        padding: 0px 1.2rem;

    }

    .mainNav ul li {
        margin: 0 1rem;

    }

    .footer {
        margin-bottom: 2rem;
        padding: 0rem 1rem;

    }


}